$dark_shade_100: #1F2041;
$dark_shade_75: rgba(31, 32, 65, 0.75);
$dark_shade_50: rgba(31, 32, 65, 0.5);
$dark_shade_25: rgba(31, 32, 65, 0.25);
$dark_shade_5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;

.container {
    margin-top: 15rem;
}
.grids {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4rem;
}
.grid__first {
    width: 38rem;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid__second {
    width: 38rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid__third {
    width: 38rem;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
/* ROOMS */
.blocks {
    width: 38rem;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 4rem 3rem 3rem;
    margin-bottom: 4rem;
}
.blocks__title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: $dark_shade_100;
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
}
.blocks__dates {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.form__date {
    margin-bottom: 0;
}
.dropdown__input_blocks {
    margin: 0;
}
.blocks__guests {
    margin-bottom: 1rem;
} 
.blocks__button {
    margin-top: 2rem;
    margin-bottom: 0;
}
.button__pay_blocks {
    margin-bottom: 0;
}
/* REGISTRATION */
.blocks__radiobuttons {
    display: flex;
    margin-bottom: 2rem;
}
.text__field_blocks {
    margin-bottom: 1rem;
}
.toggle__text_blocks {
    margin-bottom: 0;
}
.blocks__sign {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blocks__signin {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.29;
    color: $dark_shade_100;
    margin: 0;
    padding: 0;
}
.block__button {
    margin: 0;
}

/* ROOM IN HOTEL */
.room__title {
    display: flex;
    width: 100%;
    align-items: center;
}
.room__subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.room__caption {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    color: $purple;
    padding: 0;
    margin: 0;
    margin-right: 8rem;
}
.room__price {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.29;
    color: $dark_shade_50;
    padding: 0;
    margin: 0;
}
.blocks__desc {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}
.blocks__sbor {
    display: flex;
    justify-content: space-between;
    width: 24rem;
}
.blocks__uslugi {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.73;
    color: $dark_shade_75;
    padding: 0;
    margin: 0;
}
.blocks__info {
    width: 2rem;
    height: 2rem;
    border: 1px solid $dark_shade_25;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
}
.blocks__i {
    width: 100%;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.17;
    color: $dark_shade_25;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.blocks__calc {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.blocks__sum {
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 2.3rem;
    color: $dark_shade_100;
    padding: 0;
    margin: 0;
}
.blocks__dots {
    width: 17rem;
    height: 1px;
    border: 1px dashed $dark_shade_25;
    box-sizing: border-box;
}

/* ROOM DESCRIPTION */
.blocks__room {
    width: 27rem;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: content-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-bottom: 4rem;
}
.block__room {
    width: 27rem;
    padding: 0;
    margin: 0;
}
.room__foto {
    width: 100%;
    margin-bottom: 2rem;
}
.room__desc {
    display: flex;
    width: 27rem;
}
.room__reviews {
    display: flex;
    width: 27rem;
}
.room__number {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: $dark_shade_100;
}
.room__price {
    display: flex;
    justify-content: space-between;
}
.room__class {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    color: $purple;
}
.room__calc {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.29;
    color: $dark_shade_50;
}