<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title "Form elements"
    body
        .container 
            form.form__elements
                .form__first
                    .form__caption 
                        label(class="form__title") Text Field
                        label(class="form__subtitle") Default
                    input(class="text__field" placeholder="Email")
                    .form__caption 
                        label(class="form__title") Text Field
                        label(class="form__subtitle") Hover / Focus
                    input(class="text__field text__field_active" placeholder="This is pretty awesome") 
                    .form__caption
                        label(class="form__title") Dropdown
                    .dropdown__input 
                        p(class="dropdown__caption") Сколько гостей
                        button.dropdown__down ˅
                    .form__caption 
                        label(class="form__title") masked text field
                    input(class="text__field" placeholder="ДД.ММ.ГГГГ")
                .form__second 
                    .form__date
                        .form__caption
                            label(class="form__title") date Dropdown
                        .dropdown__input 
                            p(class="dropdown__caption") ДД.ММ.ГГГГ
                            button.dropdown__down ˅
                    .form__date
                        .form__caption
                            label(class="form__title") date Dropdown
                        .dropdown__input 
                            p(class="dropdown__caption") 19.08.2019
                            button.dropdown__down ˅
                    .form__filter
                        .form__caption
                            label(class="form__title") filter date dropdown
                        .dropdown__input 
                            p(class="dropdown__caption") 19 авг - 23 авг
                            button.dropdown__down ˅
                    .form__subscription 
                        .form__caption
                            label(class="form__title") subscription text field
                        .subscription__input 
                            p(class="subscription__caption") Email
                            button.subscription__right ⟶
                .form__third 
                    .form__caption
                        label(class="form__title") Checkbox Buttons
                    .checkbox
                        .checkbox__item 
                            input(class="custom-checkbox" type="checkbox" id="buttons-1" name="buttons-1" value="smoke")
                            label(for="buttons-1" class="checkbox__text") Можно курить
                        .checkbox__item 
                            input(class="custom-checkbox" type="checkbox" id="buttons-2" name="buttons-2" value="pet")
                            label(for="buttons-2" class="checkbox__text") Можно с питомцами
                        .checkbox__item 
                            input(class="custom-checkbox" type="checkbox" id="buttons-3" name="buttons-3" value="guests")
                            label(for="buttons-3" class="checkbox__text") Можно пригласить гостей (до 10 человек)
                    .form__caption
                        label(class="form__title") Radio Buttons
                    .radiobuttons 
                        .radio
                            input(class="custom-radio" type="radio" id="pol-1" name="pol" value="man")
                            label(for="pol-1" class="radio__text") Мужчина
                        .radio
                            input(class="custom-radio" type="radio" id="pol-2" name="pol" value="woman")
                            label(for="pol-2" class="radio__text") Женщина                    
                    .form__caption
                        label(class="form__title") Toggle
                    .toggles
                        .toggles__item
                            .toggle 
                                input#cb1.tgl.tgl-flat(type = "checkbox")
                                label.tgl-btn(for = "cb1")
                            p.toggle__text Получать спецпредложения
                        .toggles__item
                            .toggle 
                                input#cb2.tgl.tgl-flat(type = "checkbox")
                                label.tgl-btn(for = "cb2")
                            p.toggle__text Получать спецпредложения
                    .form__caption
                        label(class="form__title") like button
                    .likes 
                        .like 
                            p.like__img ♡
                            p.like__counter 2 
                        .like.like_active
                            p.like__img.like__img_active ♡
                            p.like__counter.like__counter_active 12
                    .form__caption
                        label(class="form__title") rate button
                    .rates
                        .rate
                            input(type="radio" id="star5" name="rate" value="5")
                            label(for="star5" title="text")
                            input(type="radio" id="star4" name="rate" value="4")
                            label(for="star4" title="text")
                            input(type="radio" id="star3" name="rate" value="3")
                            label(for="star3" title="text")
                            input(type="radio" id="star2" name="rate" value="2")
                            label(for="star2" title="text")
                            input(type="radio" id="star1" name="rate" value="1")
                            label(for="star1" title="text")
                        .rate
                            input(type="radio" id="star5" name="rate" value="5")
                            label(for="star5" title="text")
                            input(type="radio" id="star4" name="rate" value="4")
                            label(for="star4" title="text")
                            input(type="radio" id="star3" name="rate" value="3")
                            label(for="star3" title="text")
                            input(type="radio" id="star2" name="rate" value="2")
                            label(for="star2" title="text")
                            input(type="radio" id="star1" name="rate" value="1")
                            label(for="star1" title="text")