
$dark_shade_100: #1F2041;
$dark_shade_75: rgba(31, 32, 65, 0.75);
$dark_shade_50: rgba(31, 32, 65, 0.5);
$dark_shade_25: rgba(31, 32, 65, 0.25);
$dark_shade_5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;

.form__elements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 14rem;
  grid-column-gap: 12.6rem;
}
.form__first {
    width: 32rem;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.form__caption {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}
.form__title {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    color: $dark_shade_100;
}
.form__subtitle {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: right;
    text-transform: uppercase;
    color: $dark_shade_50;

}
.text__field {
    width: 32rem;
    height: 4.4rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    background: #FFFFFF;
    border: 1px solid $dark_shade_25;
    box-sizing: border-box;
    border-radius: 4px;
    color: $dark_shade_75;
    padding-left: 1.5rem;
    margin-bottom: 2rem;
}
.text__field::placeholder {
    font-size: 1.4rem;
    line-height: 1.29;
    color: $dark_shade_25;
}
.text__field:hover, .text__field:focus {
    border: 1px solid $dark_shade_50;
    box-sizing: border-box;
    border-radius: 4px;
}
.text__field_active {
    border: 1px solid $dark_shade_50;
}
.text__field_active::placeholder {
    font-size: 1.4rem;
    line-height: 1.71;
    color: $dark_shade_75;
}
.dropdown__input {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4.4rem;
    background: #FFFFFF;
    border: 1px solid $dark_shade_25;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 1.2rem;
    align-items: center;
    margin-top: .5rem;
    margin-bottom: 2rem;
}
.dropdown__input:hover, .dropdown__input:focus {
    border: 1px solid $dark_shade_50;
    box-sizing: border-box;
    border-radius: 4px;
}
.dropdown__caption {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color:$dark_shade_75;
    margin: 0;
    padding: 0;
}
.dropdown__down {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: $dark_shade_50;
    border: 0;
    background: #FFFFFF;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.dropdown__down:hover, .dropdown__down:focus {
    color: $dark_shade_75;
}
.form__second {
    width: 32rem;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.form__date {
    width: 15rem;
    margin-bottom: 4rem;
}
.form__filter {
    width: 26.6rem;
    margin-bottom: 4rem;
}
.form__subscription {
    margin-bottom: 4rem;
}
.subscription__input {
    display: flex;
    justify-content: space-between;
    width: 26.6rem;
    height: 4.4rem;
    background: #FFFFFF;
    border: 1px solid $dark_shade_25;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 1.2rem;
    align-items: center;
    margin-top: .5rem;
}
.subscription__caption {
    font-size: 1.4rem;
    line-height: 1.29;
    color: $dark_shade_25;
}
.subscription__right {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: #BC9CFF;
    border: 0;
    background: #FFFFFF;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.subscription__right:focus, .subscription__right:hover {
    color: #8BA4F9;
}
/* THREE FORM */

.form__third {
    width: 23rem;
    margin-bottom: 4rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

/* CHECKBOX */
/* для элемента input c type="checkbox" */
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  /* для элемента label, связанного с .custom-checkbox */
  .custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  /* создание в label псевдоэлемента before со следующими стилями */
  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $dark_shade_25;
    border-radius: 0.4rem;
    margin-right: 1rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    cursor: pointer;
  }
  /* стили текста чекбокса */
  .checkbox__text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.29;    
    color: $dark_shade_50;
    border: 0;
    padding: 0;
    margin: 0;
  }

  /* стили при наведении курсора на checkbox */
  .custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: $purple;
  }

  /* стили для активного чекбокса (при нажатии на него) */
  .custom-checkbox:not(:disabled):active+label::before {
    background-color: #FFFFFF;
    border-color: $purple;
  }

  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  .custom-checkbox:focus:not(:checked)+label::before {
    border-color: $purple;
  }

  /* стили для чекбокса, находящегося в состоянии checked */
  .custom-checkbox:checked+label::before {
    border-color: $purple;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23BC9CFF' viewBox='0 0 8 8'%3e%3cpath d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }

  /* стили для чекбокса, находящегося в состоянии disabled */
  .custom-checkbox:disabled+label::before {
    background-color: #FFFFFF;
  }

  .checkbox {
    margin-bottom: 4rem;
    margin-top: 1.6rem;
  }
  .checkbox__item {
    margin-bottom: 1rem;
  }

  /* RADIOBUTTON */
  .radiobuttons {
    display: flex;
    margin-right: -2rem;
    margin-top: 1.6rem;
    margin-bottom: 4rem;
  }
  .radio {
      margin-right: 2rem;
  }

  /* для элемента input c type="radio" */
  .custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  /* для элемента label связанного с .custom-radio */
  .custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  /* создание в label псевдоэлемента  before со следующими стилями */
  .custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $dark_shade_25;
    border-radius: 50%;
    margin-right: 1rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    cursor: pointer;
  }

  /* стили при наведении курсора на радио */
  .custom-radio:not(:disabled):not(:checked)+label:hover::before {
    border-color: $purple;
  }

  /* стили для активной радиокнопки (при нажатии на неё) */
  .custom-radio:not(:disabled):active+label::before {
    background-color: #FFFFFF;
    border-color: $purple;
  }

  /* стили для радиокнопки, находящейся в фокусе 
  .custom-radio:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  } */

  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  .custom-radio:focus:not(:checked)+label::before {
    border-color: $purple;
  }

  /* стили для радиокнопки, находящейся в состоянии checked */
  .custom-radio:checked+label::before {
    border-color: $purple;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='%23BC9CFF'/%3e%3c/svg%3e");
  }

  /* стили для радиокнопки, находящейся в состоянии disabled */
  .custom-radio:disabled+label::before {
    background-color: #FFFFFF;
  }
  /* стили для текста у радиокнопок */
.radio__text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    color: $dark_shade_75;
}

/* TOGGLE */
.toggles {
  margin-top: 1.6rem;
  margin-bottom: 4rem;
}
.toggles__item {
  display: flex;
  align-items: center;
  width: 26rem;
}
.tgl {
  display: none;
  
  // add default box-sizing for this scope
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .tgl-btn {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }
  
  + .tgl-btn {
    outline: 0;
    display: block;
    width: 4rem;
    height: 2rem;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:after,
    &:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
    }
    
    &:after {
      left: 0;
    }
    
    &:before {
      display: none;
    }
  }
  
  &:checked + .tgl-btn:after {
    left: 50%;
  }
}
.tgl-flat {
  + .tgl-btn {
    padding: 3px;
    transition: all .2s ease;
    background: #fff;
    border: 1px solid $dark_shade_25;
    border-radius: 1rem;
    &:after {
      width: 1.2rem;
      height: 1.2rem;
      transition: all .2s ease;
      background: $dark_shade_25;
      content: "";
      border-radius: 1rem;
    }
  }
  
  &:checked + .tgl-btn {
    border: 1px solid $purple;
    &:after {
      width: 1.2rem;
      height: 1.2rem;
      left: 50%;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
  }
}
.toggle__text {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.71;
  color: $dark_shade_75;
  margin: 0 0 1rem 1rem;
  padding: 0;

}

/* LIKE */
.likes {
  display: flex;
  margin-bottom: 4rem;
  margin-top: 1.6rem;
}
.like {
  display: flex;
  align-items: center;
  width: 4rem;
  height: 2rem;
  background: #FFFFFF;
  border: 1px solid $dark_shade_25;
  border-radius: 1rem;
  cursor: pointer;
  margin-right: 1rem;
}
.like__img {
  width: 50%;
  font-weight: 400;
  font-size: 1rem;
  line-height: .9;
  text-align: center;
  color: $dark_shade_25;
}
.like__counter {
  width: 50%;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  color: $dark_shade_25;
}
.like:focus, .like:hover, .like:active, .like_active {
  border: 1px solid $purple;
}
.like__img_active, .like__counter_active {
  color: $purple;
}

/* RATE */
.rates {
  display: flex;
  margin-top: 1.6rem;
  margin-bottom: 4rem;
}
.rate {
  height: 2.4rem;
  width: 12rem;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float: right;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:2.4rem;
  line-height: 2rem;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: $purple;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: $purple;   
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: $purple; 
}

/* FOUR Form */
.form__four {
  width: 32rem;
  margin-bottom: 4rem;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

/* BUTTONS */
.form__buttons {
  display: flex;
  margin-top: 1.6rem;
  flex-wrap: wrap;
}  
.button__text {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}
.button__text_purple {
  color: $purple;
}
.button {
  width: 50%;
  margin-bottom: 3rem;
}
.button__full {
  width: 10rem;
  height: 4.4rem;
  background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
  border-radius: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 1;
  margin-right: 1.9rem;
}
.button:hover, .button:focus {
  opacity: 0.5;
  transition: opacity .2s linear;
}
.button__transparent {
  width: 10rem;
  height: 4.4rem;
  border: 1px solid $purple;
  border-radius: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 1.9rem;
  opacity: 1;
}
.icon__link {
  margin-bottom: 3rem;
}
.icon__text {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: $purple;
  padding: 0;
  margin: 0;
  margin-right: 2rem;
}
.icon__text:hover, .icon__text:focus {
  color: $dark_shade_50;
  transition: color .2s linear;
}

/* button pay */
.button__pay {
  position: relative;
  width: 32rem;
  height: 4.4rem;
  background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
  border-radius: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 4rem;
}
.pay__text {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}
.pay__arrow {
  position: absolute;
  bottom: 1.2rem;
  right: 1.2rem;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}
.button__pay:hover, .button__pay:focus {
  opacity: .5;
  transition: opacity .2s linear;
}

/* PAGINATION */
.pagination {
  display: flex;
  margin-bottom: 1rem;
}
.page {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.page:hover, .page:focus {
  opacity: .5;
  transition: opacity .2s linear;
}
.page_active {
  background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
  border-radius: 22px;
}
.page__text {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: $dark_shade_50;
}
.page__text_active {
  color: #FFFFFF;
}
.page__next {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 22px;
  background: linear-gradient(180deg, $green 0%, #66D2EA 100%);
}
.page__next:hover, .page__next:focus {
  opacity: .5;
  transition: opacity .2s linear;
}
.page__arrow {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2rem;
  color: #FFFFFF;
  padding: 0;
  margin-top: 2rem;
}
.pagination__text {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: $dark_shade_75;
}

/* DROPDOWN */
.form__five {
  display: flex;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.dropdown__notsubmit {
  width: 32rem;
}
.dropdown__submit {
  width: 32rem;
}
.dropdown__clear {
  width: 32rem;
}
.dropdown__input_expanded {
  border: 1px solid $dark_shade_50;
}
.dropdown__expand {
  background: #FFFFFF;
  border: 1px solid $dark_shade_50;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -2rem;
}
.dropdown__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dropdown__buttons {
  width: 9.2rem;
  display: flex;
  justify-content: space-between;
  margin: .7rem;
  align-items: center;
}
.dropdown__text  {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: $dark_shade_100;
  margin-left: 1.5rem;
}
.dropdown__button {
  width: 3rem;
  height: 3rem;
  border: 1px solid $dark_shade_25;
  border-radius: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.dropdown__button_noactiv {
  cursor: none;
  opacity: .3;
}
.dropdown__counter {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: $dark_shade_100;
}
.dropdown__znak {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: $dark_shade_50;
  padding: 0;
  margin: 0;
}
.dropdown__icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1.9rem -1.3rem -1.7rem 1.4rem;
}