<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title "Form elements"
    body
        .container 
            form.form__elements
                .form__first
                    .form__caption 
                        label(class="form__title") Text Field
                        label(class="form__subtitle") Default
                    input(class="text__field" placeholder="Email")
                    .form__caption 
                        label(class="form__title") Text Field
                        label(class="form__subtitle") Hover / Focus
                    input(class="text__field text__field_active" placeholder="This is pretty awesome") 
                    .form__caption
                        label(class="form__title") Dropdown
                    .dropdown__input 
                        p(class="dropdown__caption") Сколько гостей
                        button.dropdown__down ˅
                    .form__caption 
                        label(class="form__title") masked text field
                    input(class="text__field" placeholder="ДД.ММ.ГГГГ")
                .form__second 
                    .form__date
                        .form__caption
                            label(class="form__title") date Dropdown
                        .dropdown__input 
                            p(class="dropdown__caption") ДД.ММ.ГГГГ
                            button.dropdown__down ˅
                    .form__date
                        .form__caption
                            label(class="form__title") date Dropdown
                        .dropdown__input 
                            p(class="dropdown__caption") 19.08.2019
                            button.dropdown__down ˅
                    .form__filter
                        .form__caption
                            label(class="form__title") filter date dropdown
                        .dropdown__input 
                            p(class="dropdown__caption") 19 авг - 23 авг
                            button.dropdown__down ˅
                    .form__subscription 
                        .form__caption
                            label(class="form__title") subscription text field
                        .subscription__input 
                            p(class="subscription__caption") Email
                            button.subscription__right ⟶
                .form__third 
                    .form__caption
                        label(class="form__title") Checkbox Buttons
                    .checkbox
                        .checkbox__item 
                            input(class="custom-checkbox" type="checkbox" id="buttons-1" name="buttons-1" value="smoke")
                            label(for="buttons-1" class="checkbox__text") Можно курить
                        .checkbox__item 
                            input(class="custom-checkbox" type="checkbox" id="buttons-2" name="buttons-2" value="pet")
                            label(for="buttons-2" class="checkbox__text") Можно с питомцами
                        .checkbox__item 
                            input(class="custom-checkbox" type="checkbox" id="buttons-3" name="buttons-3" value="guests")
                            label(for="buttons-3" class="checkbox__text") Можно пригласить гостей (до 10 человек)
                    .form__caption
                        label(class="form__title") Radio Buttons
                    .radiobuttons 
                        .radio
                            input(class="custom-radio" type="radio" id="pol-1" name="pol" value="man")
                            label(for="pol-1" class="radio__text") Мужчина
                        .radio
                            input(class="custom-radio" type="radio" id="pol-2" name="pol" value="woman")
                            label(for="pol-2" class="radio__text") Женщина                    
                    .form__caption
                        label(class="form__title") Toggle
                    .toggles
                        .toggles__item
                            .toggle 
                                input#cb1.tgl.tgl-flat(type = "checkbox")
                                label.tgl-btn(for = "cb1")
                            p.toggle__text Получать спецпредложения
                        .toggles__item
                            .toggle 
                                input#cb2.tgl.tgl-flat(type = "checkbox")
                                label.tgl-btn(for = "cb2")
                            p.toggle__text Получать спецпредложения
                    .form__caption
                        label(class="form__title") like button
                    .likes 
                        .like 
                            p.like__img ♡
                            p.like__counter 2 
                        .like.like_active
                            p.like__img.like__img_active ♡
                            p.like__counter.like__counter_active 12
                    .form__caption
                        label(class="form__title") rate button
                    .rates
                        .rate
                            input(type="radio" id="star5" name="rate" value="5")
                            label(for="star5" title="text")
                            input(type="radio" id="star4" name="rate" value="4")
                            label(for="star4" title="text")
                            input(type="radio" id="star3" name="rate" value="3")
                            label(for="star3" title="text")
                            input(type="radio" id="star2" name="rate" value="2")
                            label(for="star2" title="text")
                            input(type="radio" id="star1" name="rate" value="1")
                            label(for="star1" title="text")
                        .rate
                            input(type="radio" id="star5" name="rate" value="5")
                            label(for="star5" title="text")
                            input(type="radio" id="star4" name="rate" value="4")
                            label(for="star4" title="text")
                            input(type="radio" id="star3" name="rate" value="3")
                            label(for="star3" title="text")
                            input(type="radio" id="star2" name="rate" value="2")
                            label(for="star2" title="text")
                            input(type="radio" id="star1" name="rate" value="1")
                            label(for="star1" title="text")
                .form__four 
                    .form__caption
                        label(class="form__title") Range Slider
                    .form__caption
                        label(class="form__title") buttons
                    .form__buttons 
                        .button.button__full 
                            p.button__text Click me
                        .button.button__full 
                            p.button__text Click me
                        .button.button__transparent 
                            p.button__text.button__text_purple Click me
                        .button.button__transparent
                            p.button__text.button__text_purple Click me
                        .icon__link
                            p.icon__text Click me
                        .icon__link
                            p.icon__text Click me
                        .button__pay 
                            p.pay__text перейти к оплате
                            p.pay__arrow &rarr;
                    .form__caption
                        label(class="form__title") pagination
                    .pagination 
                        .page.page_active 
                            p.page__text.page__text_active 1
                        .page 
                            p.page__text 2
                        .page 
                            p.page__text 3
                        .page__ellipsis 
                            p.page__text ...
                        .page 
                            p.page__text 15
                        .page__next 
                            p.page__arrow &rarr;
                    .pagination__text 1 – 12 из 100+ вариантов аренды
                .form__five 
                    .dropdown__notsubmit 
                        .dropdown__default 
                            .form__caption 
                                label(class="form__title") dropdown
                                label(class="form__subtitle") Default
                            .dropdown__input 
                                p(class="dropdown__caption") 2 спальни, 2 кровати...
                                button.dropdown__down ˅
                        .dropdown__expanded
                            .form__caption 
                                label(class="form__title") dropdown
                                label(class="form__subtitle") expanded
                            div(class="dropdown__input dropdown__input_expanded") 
                                p(class="dropdown__caption") 2 спальни, 2 кровати...
                                button.dropdown__down ˅
                            .dropdown__expand 
                                .dropdown__item 
                                    p.dropdown__text спальни
                                    .dropdown__buttons 
                                        .dropdown__button 
                                            p.dropdown__znak -
                                        p.dropdown__counter 2
                                        .dropdown__button 
                                            p.dropdown__znak +
                                .dropdown__item 
                                    p.dropdown__text кровати
                                    .dropdown__buttons 
                                        .dropdown__button 
                                            p.dropdown__znak -
                                        p.dropdown__counter 2
                                        .dropdown__button 
                                            p.dropdown__znak +
                                .dropdown__item 
                                    p.dropdown__text ванные комнаты
                                    .dropdown__buttons 
                                        .dropdown__button.dropdown__button_noactiv 
                                            p.dropdown__znak -
                                        p.dropdown__counter 0
                                        .dropdown__button 
                                            p.dropdown__znak +
                    .dropdown__submit
                        .dropdown__expanded
                            .form__caption 
                                label(class="form__title") dropdown
                            div(class="dropdown__input dropdown__input_expanded") 
                                p(class="dropdown__caption") Сколько гостей
                                button.dropdown__down ˅
                            .dropdown__expand 
                                .dropdown__item 
                                    p.dropdown__text взрослые
                                    .dropdown__buttons 
                                        .dropdown__button.dropdown__button_noactiv  
                                            p.dropdown__znak -
                                        p.dropdown__counter 0
                                        .dropdown__button 
                                            p.dropdown__znak +
                                .dropdown__item 
                                    p.dropdown__text дети
                                    .dropdown__buttons 
                                        .dropdown__button.dropdown__button_noactiv 
                                            p.dropdown__znak -
                                        p.dropdown__counter 0
                                        .dropdown__button 
                                            p.dropdown__znak +
                                .dropdown__item 
                                    p.dropdown__text младенцы
                                    .dropdown__buttons 
                                        .dropdown__button.dropdown__button_noactiv 
                                            p.dropdown__znak -
                                        p.dropdown__counter 0
                                        .dropdown__button 
                                            p.dropdown__znak +
                                .dropdown__icons
                                    .icon__link
                                    .icon__link
                                        p.icon__text применить
                    .dropdown__clear
                        .dropdown__expanded
                            .form__caption 
                                label(class="form__title") dropdown
                            div(class="dropdown__input dropdown__input_expanded") 
                                p(class="dropdown__caption") 3 гостя
                                button.dropdown__down ˅
                            .dropdown__expand 
                                .dropdown__item 
                                    p.dropdown__text взрослые
                                    .dropdown__buttons 
                                        .dropdown__button
                                            p.dropdown__znak -
                                        p.dropdown__counter 2
                                        .dropdown__button 
                                            p.dropdown__znak +
                                .dropdown__item 
                                    p.dropdown__text дети
                                    .dropdown__buttons 
                                        .dropdown__button
                                            p.dropdown__znak -
                                        p.dropdown__counter 1
                                        .dropdown__button 
                                            p.dropdown__znak +
                                .dropdown__item 
                                    p.dropdown__text младенцы
                                    .dropdown__buttons 
                                        .dropdown__button.dropdown__button_noactiv 
                                            p.dropdown__znak -
                                        p.dropdown__counter 0
                                        .dropdown__button 
                                            p.dropdown__znak +
                                .dropdown__icons
                                    .icon__link
                                        p.icon__text очистить
                                    .icon__link
                                        p.icon__text применить
                // form__five end
                .form__six     
                    .expandable 
                        .expandable__list 
                            .expandable__input
                                p.expandable__caption expandable checkbox list
                                button.dropdown__down ˅
                        div(class="expandable__list_active")
                            .expandable__input
                                p.expandable__caption expandable checkbox list
                                button.dropdown__up ^
                            .expandable__items 
                                .checkbox__item 
                                    input(class="custom-checkbox" type="checkbox" id="expandable-1" name="expandable-1" value="breakfast")
                                    label(for="expandable-1" class="checkbox__text") Завтрак
                                .checkbox__item 
                                    input(class="custom-checkbox" type="checkbox" id="expandable-2" name="expandable-2" value="table")
                                    label(for="expandable-2" class="checkbox__text") Письменный стол
                                .checkbox__item 
                                    input(class="custom-checkbox" type="checkbox" id="expandable-3" name="expandable-3" value="chair")
                                    label(for="expandable-3" class="checkbox__text") Стул для кормления
                                .checkbox__item 
                                    input(class="custom-checkbox" type="checkbox" id="expandable-4" name="expandable-4" value="bed")
                                    label(for="expandable-4" class="checkbox__text") Кроватка
                                .checkbox__item 
                                    input(class="custom-checkbox" type="checkbox" id="expandable-5" name="expandable-5" value="tv")
                                    label(for="expandable-5" class="checkbox__text") Телевизор
                                .checkbox__item 
                                    input(class="custom-checkbox" type="checkbox" id="expandable-6" name="expandable-6" value="shampoo")
                                    label(for="expandable-6" class="checkbox__text") Шампунь
                    .rich__check 
                        p.rich__title rich Checkbox Buttons
                        .rich__item 
                            input(class="rich-checkbox" type="checkbox" id="rich-1" name="rich-1" value="koridor")
                            label(for="rich-1" class="rich__caption") Широкий коридор
                            p.rich__text Ширина коридоров в номере не менее 91 см.
                        .rich__item 
                            input(class="rich-checkbox" type="checkbox" id="rich-2" name="rich-2" value="help")
                            label(for="rich-2" class="rich__caption") Помощник для инвалидов
                            p.rich__text На 1 этаже вас встретит специалист  и проводит до номера.
                    .bullet 
                        p.bullet__list bullet list
                        .bullet__item 
                            .bullet__marker 
                            p.bullet__text Нельзя с питомцами
                        .bullet__item 
                            .bullet__marker 
                            p.bullet__text Без вечеринок и мероприятий
                        .bullet__item 
                            .bullet__marker
                            p.bullet__text Время прибытия — после 13:00, а выезд до 12:00
                //form__six end

