<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title "Form elements"
    body
        .container 
            form.form__elements
                .form__first
                    .form__caption 
                        label(class="form__title") Text Field
                        label(class="form__subtitle") Default
                    input(class="text__field" placeholder="Email")
                    .form__caption 
                        label(class="form__title") Text Field
                        label(class="form__subtitle") Hover / Focus
                    input(class="text__field text__field_active" placeholder="This is pretty awesome") 
                    .form__caption
                        label(class="form__title") Dropdown
                    .dropdown__input 
                        p(class="dropdown__caption") Сколько гостей
                        button.dropdown__down ˅
                    .form__caption 
                        label(class="form__title") masked text field
                    input(class="text__field" placeholder="ДД.ММ.ГГГГ")
                .form__second 
                    .form__date
                        .form__caption
                            label(class="form__title") date Dropdown
                        .dropdown__input 
                            p(class="dropdown__caption") ДД.ММ.ГГГГ
                            button.dropdown__down ˅
                    .form__date
                        .form__caption
                            label(class="form__title") date Dropdown
                        .dropdown__input 
                            p(class="dropdown__caption") 19.08.2019
                            button.dropdown__down ˅
                    .form__filter
                        .form__caption
                            label(class="form__title") filter date dropdown
                        .dropdown__input 
                            p(class="dropdown__caption") 19 авг - 23 авг
                            button.dropdown__down ˅
                    .form__subscription 
                        .form__caption
                            label(class="form__title") subscription text field
                        .subscription__input 
                            p(class="subscription__caption") Email
                            button.subscription__right ⟶
