<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title "Headers & Footers"
    body
        .header__footer 
            .header__block
                    .logotype 
                        svg.logotype__img
                        svg.logotype__caption
                    nav.nav
                        .nav__list 
                            li.nav__item 
                                a(class="nav__link nav__link_active" href="#") О нас
                            li.nav__item 
                                a(class="nav__link" href="#") Услуги
                                button.nav__down ˅
                            li.nav__item 
                                a(class="nav__link" href="#") Вакансии
                            li.nav__item 
                                a(class="nav__link" href="#") Новости
                            li.nav__item 
                                a(class="nav__link" href="#") Соглашения
                                button.nav__down ˅
                        .lk__noauth 
                            .button.button__transparent.button__transparent_header 
                                    p.button__text.button__text_purple войти
                            .button__pay.button__pay_header 
                                    p.pay__text.pay__text_header зарегистрироваться
            .header__block
                    .logotype 
                        svg.logotype__img
                        svg.logotype__caption
                    nav.nav 
                        .nav__list 
                            li.nav__item 
                                a(class="nav__link nav__link_active" href="#") О нас
                            li.nav__item 
                                a(class="nav__link" href="#") Услуги
                                button.nav__down ˅
                            li.nav__item 
                                a(class="nav__link" href="#") Вакансии
                            li.nav__item 
                                a(class="nav__link" href="#") Новости
                            li.nav__item 
                                a(class="nav__link" href="#") Соглашения
                                button.nav__down ˅
                        .hr__vert 
                        .lk__auth 
                            .icon__link
                                    p.lk__fio Юлий Цезарь
            .footer__block 
                .footer__nav 
                    .footer__title 
                        .logotype 
                            svg.logotype__img
                            svg.logotype__caption
                        p.footer__desc Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                    .footer__item 
                        p.footer__caption навигация
                        a(class="footer__link" href="#") О нас
                        br
                        a(class="footer__link" href="#") Новости
                        br
                        a(class="footer__link" href="#") Служба поддержки
                        br
                        a(class="footer__link" href="#") Услуги
                    .footer__item 
                        p.footer__caption о нас
                        a(class="footer__link" href="#") О сервисе
                         br
                        a(class="footer__link" href="#") Наша команда
                         br
                        a(class="footer__link" href="#") Вакансии
                         br
                        a(class="footer__link" href="#") Инвесторы
                    .footer__item 
                        p.footer__caption Служба поддержки
                        a(class="footer__link" href="#") Соглашения
                         br
                        a(class="footer__link" href="#") Сообщества
                         br
                        a(class="footer__link" href="#") Связь с нами
                    .footer__item  
                        p.footer__caption Подписка
                        p.footer__subscript Получайте специальные предложения и новости сервиса
                        .subscription__input 
                            p(class="subscription__caption") Email
                            button.subscription__right ⟶
                .hr 
                .footer__copyright 
                    p.footer__text Copyright © 2018 Toxin отель. Все права зачищены.
                    .footer__social 

            


            