<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title "Colors & Type"
    body
        .container 
            .color__type
                .colors 
                    .colors__item
                        div(class='colors__square dark_shade_100') 
                        .colors__text 
                            .colors__name Dark Shade 100%
                            .colors__code #1F2041
                    .colors__item
                        div(class='colors__square dark_shade_75') 
                        .colors__text 
                            .colors__name Dark Shade 75%
                            .colors__code #1F2041
                    .colors__item
                        div(class='colors__square dark_shade_50') 
                        .colors__text 
                            .colors__name Dark Shade 50%
                            .colors__code #1F2041
                    .colors__item
                        div(class='colors__square dark_shade_25') 
                        .colors__text 
                            .colors__name Dark Shade 25%
                            .colors__code #1F2041
                    .colors__item
                        div(class='colors__square dark_shade_5') 
                        .colors__text 
                            .colors__name Dark Shade 5%
                            .colors__code #1F2041
                    .colors__item
                        div(class='colors__square purple') 
                        .colors__text 
                            .colors__name Purple
                            .colors__code #BC9CFF
                    .colors__item
                        div(class='colors__square green') 
                        .colors__text 
                            .colors__name Green
                            .colors__code #6FCF97
                .types
                    .types__item
                        div(class='types__title h1') H1
                        div(class='types__text h1') types__text This one is the sub-section or widget title
                    .types__item
                        div(class='types__title h2') H2
                        div(class='types__text h2') Next one is the item title inside widgets
                    .types__item
                        div(class='types__title h3') H3
                        div(class='types__text h3') This is a label or CTA text
                    .types__item
                        div(class='types__title body') Body
                        div(class='types__text body') This is the body text which is used for most of the design, like paragraphs, lists, etc.